.container, .error {
    display: box;
    margin-left: auto;
    margin-right: auto;
    
    border: 1px solid #000000;

    box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    /* center the canvas. */
    text-align: center;

    width: 545px;
}

.container {
    height: 416px;

    /* start the background off as black. */
    background-color: #000;
}

canvas {
    padding: 0;
    margin: 0;
    /* the display has a 16-pixel border around it, whose color you can set.
     * we'll start it off as black. */
    border: 16px solid #000;

    /* start the background off as black. */
    background-color: #000;
}

.error {
    cursor: pointer;
    padding: 5px 10px;
    font: 1em Georgia;
    background: #FF5555;
}
