body > canvas {
    display: box;
    margin-left: auto;
    margin-right: auto;

    /* the display has a 16-pixel border around it, whose color you can set.
     * we'll start it off as black. */
    border: 16px solid #000;

    box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;

    /* start the background off as black. */
    background-color: #000;
}
